body {
  background-color: #f1f6f9;
  margin: 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin-top: 110px;
  font-size: 2.5rem;
}

#profession {
  font-size: 3rem;
  font-weight: bold;
  font-weight: normal;
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(105, 180, 183);
}

#pro {
  text-decoration: underline;
}

h1,
h2,
h3 {
  color: rgb(105, 180, 183);
}



.top-Container {
  position: relative;
  margin-top: 0px;
  padding: 20px;
}

#top-cloud {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  right: 25%;
}

#bottom-cloud {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 25%;
}

#mountain {
  margin-top: 50px;
  width: 350px;
  height: 350px;
}

.middle-Conatainer {
  margin-top: 50px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#coding-image {
  height: 150px;
  width: 150px;
  float: right;
  margin-bottom: 50px;
  margin-left: 20px;
  padding: 10px;
}

#swift-image {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 20px;
  padding: 10px;
}

p {
  line-height: 2;
}

#mobile-paragraph {
  margin-left: 10px;
  text-align: left;
  line-height: 2;
}

#web-paragraph {
  text-align: right;
  text-align: right;
  line-height: 2;
}

.bottom-Conatainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  margin: auto;
}

.btn {
  display: block;
  border-style: none;
  margin: 50px, auto, 10, auto;
  padding-top: 4;
  padding-bottom: 4;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#rights {
  font-size: 0.6em;
  color: grey;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: gray;
  border-width: 5px;
}

/* #rights {
    font-size: 0.75rem;
    color: rgb(69, 142, 206);
  } */

.footer {
  position: relative;
  padding-top: auto;
  padding-bottom: auto;
  text-align: center;
  height: 100px;
  background-color: rgb(205, 219, 231);
}

.contact-me {
  margin-top: 100px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 200px;
}

a {
  text-decoration: none;
  color: rgb(118, 171, 218);
  padding: 10px;
}

a:hover {
  color: rgb(69, 142, 206);
  font-size: large;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border-width: 1px;
  border-color: #3498db;
  margin-bottom: 20px;
}

.mobile-development {
  margin-bottom: 30px;
}

.dev-development {
  margin-bottom: 20px;
}


.code-icon {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.web-icon {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 30%;
  margin: 100px auto 100px auto;
  text-align: left;
}